@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Shared styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202142;
    color: #fff;
    line-height: 1.6;
}

.card.reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

/* Header component */
header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
}

/* Feedback Item component */
.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}

.card h2 {
    text-align: center;
    font-weight: 600;
}

.num-display {
    /* background-color: #f4f4f4; */
    background-color: #ff6a95;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px #eee solid;
    /* position: relative; */
    position: absolute;
    top: -10px;
    left: -10px;
    transition: 0.3s;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.feedback-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 8px;
}

input {
    border: none;
    flex-grow: 2;
    font-size: 16px;
}

input:focus {
    outline: none;
}